@component('components/layout', { title: title })
  <h3>
    {{ title }}
  </h3>
  <a href="{{route('accueil')}}">< retour</a>
  <form action="{{ route('deck.update',{id: deck.id}) }}" method="post">
    @include('partials/createForm')
  </form>
  <a href="{{ route('accueil') }}" class="create-deck-link mt-6">Abandonner</a>
@endcomponent
