<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards - Accueil</title>
    @vite(['resources/public/css/style.css'])
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ route('home') }}">
                <img src="{{ asset('resources/images/Logo.png') }}" alt="Logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ route('home') }}">Acceuil</a></li>
                <li><a href="{{ route('login') }}">Login</a></li>
                <li><a href="{{ route('login') }}">Déconnexion</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Apprenez facilement avec nos flashcards</h1>
            <p>Flashcards...</p>

        </section>
    </main>

    <footer>
        <p>&copy; 2025 Flashcards. Tous droits réservés.</p>
    </footer>
</body>
</html>
