@component('components/layout', { title: title })
  <h3>
    {{ title }}
  </h3>

  <form action="{{ route('card.store', { id: cardId ?? '' }) }}" method="post">
    {{ csrfField() }}
    <input type="hidden" name="card_id" value="{{ cardId }}" />

    @include('partials/createCard')
  </form>
@endcomponent