@error('E_INVALID_CREDENTIALS')

  <div class="alert alert-danger">
    {{ $message }}
  </div>
@end
```

## Etat de l'application à la fin de cette étape

<img src="./doc/images/step11-fin.png" />

Dans la prochaine étape <a href="https://github.com/GregLeBarbar/app-teachers-adonisjs/tree/step12">step12</a>, nous allons mettre en place le logout.
