/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #000000, #3c0496);
  color: #333;
}

/* Header text-align: center;*/
header {
  background: linear-gradient(135deg, #000000, #3c0496);
  color: rgb(0, 0, 0);
  padding: 15px 0;
  font-weight: bold;
  width: 100%;
}

.titross {
  text-align: center;
  font-size: 1.8em;
}

.disconnectos {
  text-align: center;
  font-size: 0.5em;
  text-size-adjust: 10px;
}

.user-role {
  color: yellow;
}

/* Main Content @keyframes colorChange {
  0% { background: rgb(255, 255, 0); }
  25% { background: rgb(50, 150, 200); }
  50% { background: rgb(200, 50, 150); }
  75% { background: rgb(150, 200, 50); }
  100% { background: rgb(255, 0, 0); }
}*/


.container {
  flex: 1;
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 25px;
  background-color: rgb(110, 75, 103); /* Couleur de base blanche */
  transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */
}

.container:hover {
  background-color: purple; /* Couleur violette au survol */
}

.disconnect {
  text-align: right;
}

/* Footer */
footer {
  background: linear-gradient(360deg, #000000, #3c0496);
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 20px;
  }
}
.alert {
  padding: 20px;
  border: 2px solid #00ffcc;
  border-radius: 10px;
  background: rgb(0, 255, 204);
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.5);
  font-size: 24px;
  text-align: center;
  animation:
    flash 1.5s infinite alternate,
    slideIn 0.5s forwards;
}
@keyframes flash {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1.05);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Style sobre pour les champs de formulaire */
input {
  padding: 12px;
  margin: 12px 0;
  border: 2px solid #444;
  border-radius: 6px;
  font-size: 16px;
  background-color: #2b2b2b; /* Fond sombre */
  color: #e1e1e1; /* Texte clair */
  transition: all 0.3s ease;
  width: 90%;
}

div.field {
  width: 100%;
}

.submit {
  padding: 12px 24px;
  border: 2px solid #444;
  background-color: #2b2b2b;
  color: #e1e1e1;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  font-weight: bold;
}
.submit.visible {
  opacity: 1;
  pointer-events: all;
  display: inline;
}
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-lg {
  font-size: 1.125rem;
}

.mt-4 {
  margin-top: 1rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* Heading Styles */
h1,
h2 {
  color: #3c0496;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

/* Paragraph Styles */
p {
  font-size: 1.125rem;
  color: white;
  margin-top: 1rem;
}

/* Deck Styles */
.deck-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.deck {
  background-color: white;
  padding: 2rem;
  width: 250px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
  font-weight: 600;
  color: #2d3748;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.deck:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  background-color: #e2e8f0;
}

.deck:nth-child(1) {
  background-color: #bee3f8;
}

.deck:nth-child(2) {
  background-color: #c6f6d5;
}

.deck:nth-child(3) {
  background-color: #fefcbf;
}

.deck:nth-child(4) {
  background-color: #fed7d7;
}

/* Styles pour la balise <a> ressemblant à un bouton */
.create-deck-link {
  background-color: #3182ce;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none; /* Enlève le soulignement */
  display: inline-block;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  text-align: center;
}

a {
  color: white; /* Couleur de base blanche */
  text-decoration: none;
  transition: color 0.3s ease; /* Transition douce pour le changement de couleur */
}

a:hover {
  color: purple; /* Couleur violette au survol */
}

.create-deck-link:hover {
  background-color: #2b6cb0;
  transform: translateY(-5px);
}

.create-deck-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.6);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .deck-container {
    flex-direction: column;
    gap: 1rem;
  }

  .deck {
    width: 100%;
  }
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #3c0496;
  color: #ffee00;
  text-decoration: none;
  border-radius: 4px;
}
.button:hover {
  background-color: #00ff22;
  color: #000000;
}




/*div .login-card {
/*  display: flex;
/*  justify-content: center;
/*  align-items: center;
/*  height: 100vh;
/*}
/*